/* Main Section */
.why-buy-section {
    padding: 30px 15px;
    background-color: #f9f9f9;
}

.why-buy-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.why-buy-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-wrapper .icon {
    font-size: 2rem;
    margin-right: 15px;
    color: #FF5733;
    transition: transform 0.3s;
}

.icon-wrapper .icon:hover {
    transform: scale(1.1);
}

.image-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container .carousel-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Testimonials Section */
.testimonials-section {
    padding: 20px;
    margin-top: 50px;
}

.testimonials-section h3 {
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
    color: #343a40;
    font-weight: bold;
}

.testimonial {
    text-align: center;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-left: 3px solid #007bff;
}

.testimonial p {
    color: #6c757d;
    margin-bottom: 0;
}

.testimonial p:last-child {
    text-align: right;
    color: #343a40;
    font-weight: bold;
}

.star-rating {
    color: #FFC107;
    font-size: 1.2rem;
}

/* Modal Customizations */
.custom-modal .modal-content {
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-header {
    background-color: #FF5733;
    color: #ffffff;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 15px;
}

.custom-modal .modal-title {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
}

.custom-modal .modal-body {
    padding-top: 15px;
    padding-bottom: 10px;
}

.custom-modal .modal-body form {
    color: #343a40;
}

.custom-modal .modal-footer {
    padding: 10px 20px;
    border-top: none;
    background-color: #f1f1f1;
    border-radius: 0 0 8px 8px;
}

/* Form Styling */
.custom-form .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    color: #495057;
}

.custom-form .form-control:focus {
    border-color: #FF5733;
    box-shadow: none;
}

.custom-form .form-label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
}

.custom-datepicker {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: #495057;
}

.custom-datepicker:focus {
    border-color: #FF5733;
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
}

/* Buttons */
.submit-button {
    background-color: #FF5733;
    border-color: #FF5733;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
    background-color: #C70039;
    border-color: #C70039;
    transform: translateY(-2px);
}

.submit-button:focus {
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.5);
}

.close-button {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.close-button:hover {
    background-color: #5a6268;
    border-color: #545b62;
    transform: translateY(-2px);
}

/* Form Animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Test Drive Form */
.test-drive-form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

.test-drive-form h3 {
    color: #007bff;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Animations */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-icon {
    transition: transform 0.3s;
}

.animated-icon:hover {
    transform: scale(1.1);
}

.animate-button {
    transition: transform 0.2s ease;
}

.animate-button:hover {
    transform: scale(1.05);
}
